@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 45%;
  scroll-behavior: smooth;
}

body {
  padding: 1rem;
}
.navbar-expand {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9c474;
}

.navbar-expand .nav-logo {
  padding: 2rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #202a54;
}

.navbar-expand .nav-list {
  background-color: #202a54;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  padding: 2rem 4rem;
  display: none;
  letter-spacing: 0.3rem;
  gap: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  height: inherit;
}

.navbar-expand .nav-list li a {
  text-decoration: none;
  color: white;
}

.section-homepage {
  height: 95vh;
  width: auto;
  position: relative;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
}

.box-blue {
  display: none;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 40%;
  z-index: 0;
  background-color: #202a54;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.img-hero {
  border: 20px solid white;
}

.hero-background {
  width: 100%;
  height: 600px;
  border: 2rem solid white;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(70, 70, 70, 0.5),
      rgba(88, 88, 88, 0.637)
    ),
    url(../img/hero.jpg);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 span {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  background-color: #e9c474;
  color: #202a54;
}

h1 .second-span {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  background-color: #202a54;
  color: #e9c474;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 40px;
  text-align: left;
}

h2 span {
  text-transform: uppercase;
  padding: 1rem;
  background-color: #202a54;
  color: #e9c474;
}

p {
  font-size: 1.6rem;
  font-family: "Nunito";
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 5px;
  color: #e9c474;
  margin-bottom: 40px;
}

h4 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-bottom: 10px;
}

.heading-section {
  font-size: 3rem;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 600;
  transform: translateX(-100px);
  opacity: 0;
  transition: 300ms;
}

.heading-section span {
  font-size: 1.3rem;
  display: block;
  text-align: end;
  width: max-content;
  margin-bottom: 2rem;
  text-align: end;
  letter-spacing: 0.5rem;
}

.show-heading-section {
  transform: translateX(0);
  opacity: 1;
}

.padding-section {
  padding: 10rem 0;
  border-bottom: 4px solid #e9c474;
}

.house-details-box {
  border-top: 1.2rem solid #202a54;
  border-bottom: 1.2rem solid #202a54;
  padding: 4rem 0;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-box {
  position: relative;
  padding: 1.3rem 0;
  width: 70%;
  background-color: #202a54;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.4rem;
  font-family: "Nunito";
  border-radius: 1rem 2rem 2rem 1rem;
}

.details-icon {
  padding: 1rem;
  background-color: #e9c474;
  border-radius: 4px;
  height: 5rem;
  margin-right: 30px;
  position: absolute;
  top: 1.6rem;
  right: -4.8rem;
}

.text-details-title {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #e9c474;
  border-bottom: 1px solid #e9c474;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.text-details-content {
  font-size: 2rem;
  font-weight: 300;
  color: #e9c474;
}

.text-extra {
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 1.6rem;
  background-color: #e9c474;
}

.row {
  row-gap: 3rem;
  transform: translateY(150px);
  opacity: 0.5;
  transition: 300ms;
}

.show-row {
  transform: translateY(0);
  opacity: 1;
}

.btn-more {
  padding: 1.6rem;
  border: 4px solid #e9c474;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  letter-spacing: 4px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5rem;
  margin-top: 3rem;
  transition: 200ms;
}

.btn-gallery:hover {
  background-color: #e9c474;
}

.img-gallery {
  width: 100%;
  height: 250px;
  background-position: center;
  transition: 500ms;
}

.img-gallery:hover {
  transform: translateY(-200px) scale(2);
}

.card-team {
  width: 80%;
  padding: 5.7rem 2rem 3rem 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #202a54;
  border-radius: 1rem;
  background-color: #202a54;
  position: relative;
}

.img-card-team {
  position: absolute;
  top: -50%;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 5px solid #e9c474;
  margin-bottom: 2rem;
  margin-top: 40px;
}

.social-media-box {
  display: flex;
  gap: 4rem;
}

.icon-social-media {
  width: 3rem;
  height: auto;
}

.contact-form {
  font-family: "Nunito";
  display: flex;
  flex-direction: column;
  border-top: 5px solid #202a54;
  border-bottom: 5px solid #202a54;
  padding: 3rem;
}

.contact-form input {
  border: none;
  border-bottom: 2px solid gold;
  padding-bottom: 10px;
}

.contact-form input::placeholder {
  background-color: none;
  font-family: "Montserrat", sans-serif;
}

.contact-form input:not(:last-child) {
  margin-bottom: 30px;
}

textarea {
  border: none;
  border-bottom: 2px solid gold;
  height: 100px;
  resize: none;
}

textarea::placeholder {
  background-color: none;
  font-family: "Montserrat", sans-serif;
}

.form-title {
  font-size: 2rem;
  font-weight: 500;
  color: #202a54;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.contact-form .btn-gallery {
  margin-bottom: 0;
}

footer {
  padding: 4rem;
  background-color: #202a54;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
}

.logo-footer {
  text-decoration: none;
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: gold;
  display: none;
}

.footer-nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer-nav-list li a {
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 2px;
  color: gold;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
}

.icon-social-media-footer {
  width: 3rem;
  height: 3rem;
}

.footer-social-media {
  display: flex;
  gap: 3rem;
}

.md-gap-12 {
  row-gap: 12rem;
}

.row-gap {
  row-gap: 0;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 50%;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 55%;
  }

  h1 span {
    font-size: 3rem;
  }

  h1 .second-span {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .row-gap {
    row-gap: 3rem;
  }

  .footer-nav-list {
    flex-direction: row;
  }

  .navbar-expand {
    position: relative;
    z-index: 1;
  }

  .navbar-expand .nav-list {
    display: flex;
    position: absolute;
    right: -4rem;
  }

  .box-blue {
    display: block;
  }

  .md-gap-12 {
    row-gap: 3rem;
  }

  .row footer {
    flex-direction: row;
  }

  .hero-background {
    display: flex;
  }

  .section-homepage {
    background-image: none;
  }

  .logo-footer {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
/* S P A C I N G   U T I L I T I E S */

.mtop-10 {
  margin-top: 1rem;
}

.mbot-10 {
  margin-bottom: 1rem;
}

.mtop-20 {
  margin-top: 2rem;
}

.mbot-20 {
  margin-bottom: 2rem;
}

.mtop-30 {
  margin-top: 3rem;
}

.mbot-30 {
  margin-bottom: 3rem;
}

.mtop-40 {
  margin-top: 4rem;
}

.mbot-40 {
  margin-bottom: 4rem;
}

.mtop-50 {
  margin-top: 5rem;
}

.mbot-50 {
  margin-bottom: 5rem;
}

.mtop-60 {
  margin-top: 6rem;
}

.mbot-60 {
  margin-bottom: 6rem;
}

.mtop-70 {
  margin-top: 7rem;
}

.mbot-70 {
  margin-bottom: 7rem;
}

.mtop-80 {
  margin-top: 8rem;
}

.mbot-80 {
  margin-bottom: 8rem;
}

.mtop-90 {
  margin-top: 9rem;
}

.mbot-90 {
  margin-bottom: 9rem;
}

.mtop-100 {
  margin-top: 10rem;
}

.mbot-100 {
  margin-bottom: 10rem;
}
